*.iml

# Gradle
.gradle/
build/
**/build/

# Local configuration
local.properties

# Android Studio
.idea/
!.idea/runConfigurations/

# macOS
.DS_Store

# Android build/captures
captures/
.externalNativeBuild/
.cxx/

# Release build output
/app/release/

# Android signing keys
*.jks
*.keystore